{
  "presets": [
		["@babel/env", {
			"targets": {
				"browsers": [
					"last 3 chrome versions",
					"last 3 firefox versions",
					"last 3 safari versions"
				]
			}
		}],
		"@babel/preset-react"
	],
  "plugins": [
    "@babel/proposal-class-properties",
		"@babel/transform-runtime"
  ]
}
