#wrapper {
    color: #111111;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 20px;
}

.light, .outlet {
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #aaaaaa;
    /*color: rgb(102, 102, 102);*/
    display: inline-block;
    height: 180px;
    margin: 0 20px 20px 0;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 120px;
}

.light.on, .outlet.on {
    background-color: rgb(102, 102, 102);
    /*color: #f2f2f2;*/
}

.light .bulb, .outlet .plug {
    text-align: center;
    font-size: 80px;
    padding-top: 15px;
    visibility: hidden;
}

.light.on .bulb, .outlet.on .plug {
    visibility: visible;
}

.color-switcher {
    bottom: 8px;
    font-size: 0;
    position: absolute;
    visibility: hidden;
}

.color-switcher .color {
    border-radius: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.light.on .color-switcher {
    visibility: visible;
}

.color-switcher .warm    { background-color: #efd275; }
.color-switcher .neutral { background-color: #f1e0b5; }
.color-switcher .cold    { background-color: #f5faf6; }

.color-switcher .red     { background-color: red; }
.color-switcher .green   { background-color: green; }
.color-switcher .blue    { background-color: blue; }
.color-switcher .yellow  { background-color: yellow; }
.color-switcher .pink    { background-color: pink; }
.color-switcher .purple  { background-color: purple; }