body {
	background-color: rgb(49, 51, 53);
	color: #eee;
	margin: 0;
}

#wrapper {
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 20px 0 0 20px;
}

h4 {
	font-size: 1.09em;
	font-weight: normal;
	margin: 0;
}

.lightGroup .name:hover:after {
	content: ' ✏️';
	font-size: 0.9em;
}

#rfOutlets, #shutters {
	display: inline-block;
}

.light, .outlet, .tempSensor, .shutter {
	background-color: rgb(60, 63, 65);
	border-radius: 10px;
	display: inline-block;
	margin: 0 20px 20px 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	width: 120px;
}

.tempSensor h4 {
	margin-left: 20px;
	margin-top: 5px;
}

.light, .outlet {
	color: rgb(135, 147, 155);
}

.light.on, .outlet.on {
	color: #eee;
}

.shutter .button {
	font-size: 60px;
	user-select: none;
}

.tempSensor .name {
	float: left;
}

.tempSensor .value {
	float: right;
	font-size: 2.2em;
}

.light .name {
	display: block;
	height: 1.6em;
}

.light .name:hover:after {
	content: ' ✏️';
	font-size: 0.9em;
}

.light .name.long {
	font-size: 0.8em;
	height: 2em;
}

.light.on.warm .bulb    { text-shadow: 0 0 1px black, 0 0 50px #efd275; }
.light.on.neutral .bulb { text-shadow: 0 0 1px black, 0 0 50px #f1e0b5; }
.light.on.cold .bulb    { text-shadow: 0 0 1px black, 0 0 50px #f5faf6; }
.light.on.red .bulb     { text-shadow: 0 0 1px black, 0 0 50px red; }
.light.on.green .bulb   { text-shadow: 0 0 1px black, 0 0 50px green; }
.light.on.blue .bulb    { text-shadow: 0 0 1px black, 0 0 50px blue; }
.light.on.yellow .bulb  { text-shadow: 0 0 1px black, 0 0 50px yellow; }
.light.on.pink .bulb    { text-shadow: 0 0 1px black, 0 0 50px deeppink; }
.light.on.purple .bulb  { text-shadow: 0 0 1px black, 0 0 50px mediumpurple; }

.light.on .bulb:before{
	color: transparent;
	content: '💡';
	opacity: 0.3;
	position: absolute;
	font-size: 80px;
	filter: none;
	height: 63px;
	overflow: hidden;
}

.light.on.warm .bulb:before    { text-shadow: 0 0 0 #efd275; }
.light.on.neutral .bulb:before { text-shadow: 0 0 0 #f1e0b5; }
.light.on.cold .bulb:before    { text-shadow: 0 0 0 #f5faf6; }
.light.on.red .bulb:before     { text-shadow: 0 0 0 red; }
.light.on.green .bulb:before   { text-shadow: 0 0 0 green; }
.light.on.blue .bulb:before    { text-shadow: 0 0 0 blue; }
.light.on.yellow .bulb:before  { text-shadow: 0 0 0 yellow; }
.light.on.pink .bulb:before    { text-shadow: 0 0 0 deeppink; }
.light.on.purple .bulb:before  { text-shadow: 0 0 0 mediumpurple; }

/* --- */

.loginForm {
	text-align: center;
}

.loginForm input {
	border-width: 0 0 1px 0;
}

.loginForm input, .loginForm button {
	background-color: transparent;
	color: #eee;
	font-size: 1.2em;
	margin: 30px;
	padding: 5px;
	width: 350px;
}